body
{
    background: url("../img/board-background-top.png") repeat-x 0% 0%, url("../img/board-background-bottom.png") repeat 0% 100%;
    color: #222;
    font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
}

a
{
    color: #1890B8;
}

ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.page
{
    margin: 0px auto;
    width: 100%;
}

.board
{
    color: white;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.header
{
    font-size: 24px;
    font-weight: bold;
    padding: 25px 15px 25px 15px;
    text-shadow: black 0px -1px 0px;
}

.header a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2em;
}

.header p
{
    font-size: 11px;
    color: #999;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    text-shadow: none;
    padding: 2px 0px 0px 1px;
}

.stop
{
    color: #999;
    font-size: 16px;
    font-weight: bold;
    text-shadow: #222 0px -1px 0px;
    text-transform: uppercase;
    padding: 0px 0px 0px 15px;
}

.stop a
{
    color: #999;
    text-decoration: none;
}

thead tr
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
    height: 30px;
    padding: 0px 15px;
    position: relative;
}

thead tr th
{
    color: #666;
    font-size: 9px;
    font-weight: bold;
    text-shadow: #222 0px -1px 0px;
    text-transform: uppercase;
  text-align: left;
}

tbody tr
{
    color: #EEE;
    font-size: 15px;
    font-weight: normal;
    line-height: 38px;
    margin: 8px 0px 16px;
    padding: 0px 10px;
    text-shadow: black 0px -1px 0px;
    text-transform: uppercase;
}

tbody tr td
{
    background-image: url("../img/display-background-left.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  height: 38px;
  margin-right: 5px;
  padding-left: 8px;
  padding-bottom: 20px;
  overflow: hidden;
}

tbody tr td strong
{
    background-image: url("../img/display-background-right.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    display: block;
    font-weight: inherit;
    padding-left: 3px;
}

tbody tr td.route
{
  width: 10%;
  min-width: 50px;
  padding-right: 10px;
}

tbody tr td.name
{
  padding-right: 10px;
}

tbody tr td.departure
{
  width: 20%;
  min-width: 100px;
}

tbody tr td .strikethrough
{
    background: url("../img/display-strikethrough.png") repeat-x 0px 17px;
  display: block;
    height: 38px;
    left: 2px;
    top: 0px;
  position: relative;
  
  display: none;
}

tbody tr td.route .strikethrough
{
    width: 56px;
}

tbody tr td.name .strikethrough
{
    width: 414px;
}

tbody tr td.departure .strikethrough
{
    width: 144px;
}

tbody tr td.red.glow
{
    color: #FF5858;
    text-shadow: black 0px -1px 0px, rgba(255, 88, 88, 0.796875) 0px 0px 5px;
}

tbody tr td.red
{
    color: #FF5858;
}

tbody tr td.green
{
    color: #C7FFAB;
}

tbody tr td.yellow
{
    color: #FFEFA1;
}

.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url("../img/tipsy.gif") no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

@media screen and (max-width:720px)
{
  th.name { display: none; }
  td.name { display: none; }
}
