body
{
    background: url("../img/bg.jpg") repeat-x scroll 0 0 #EEEEEE;
    color: #222;
    font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 20px;
}

a
{
    color: #1890B8;
}

ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.page
{
    margin: 0px auto;
    width: 692px;
}

.board
{
    -webkit-box-shadow: black 0px 2px 4px;
    background: url("../img/board-background-top.png") repeat-x 0% 0%, url("../img/board-background-bottom.png") repeat 0% 100%;
    border: 1px solid #353A3B;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow:0 2px 4px #000000;
    color: white;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    margin: 10px 10px 50px;
    width: 692px;
}

.header
{
    font-size: 24px;
    font-weight: bold;
    padding: 25px 15px 25px 15px;
    text-shadow: black 0px -1px 0px;
}

.header a
{
    text-decoration: none;
    color: #fff;
}

.header p
{
    font-size: 11px;
    color: #999;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    text-shadow: none;
    padding: 2px 0px 0px 1px;
}

.stop
{
    color: #999;
    font-size: 16px;
    font-weight: bold;
    text-shadow: #222 0px -1px 0px;
    text-transform: uppercase;
    padding: 0px 0px 0px 15px;
}

.stop a
{
    color: #999;
    text-decoration: none;
}

.legend
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
    color: #666;
    font-size: 9px;
    font-weight: bold;
    height: 30px;
    padding: 0px 15px;
    position: relative;
    text-shadow: #222 0px -1px 0px;
    text-transform: uppercase;
}

.legend span
{
    display: block;
    position: absolute;
    top: 10px;
}

.legend .route
{
    left: 12px;
}

.legend .name
{
    left: 84px;
}

.legend .departure
{
    left: 532px;
}

.bus
{
    -webkit-background-size: 100px 100px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.046875)), to(rgba(255, 255, 255, 0))) repeat-x;
    border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
    border-top: 1px solid rgba(255, 255, 255, 0.078125);
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 45px 0px 30px;
    position: relative;
}

.bus h2
{
    color: #EEE;
    font-size: 15px;
    font-weight: normal;
    line-height: 38px;
    margin: 8px 0px 16px;
    padding: 0px 10px;
    text-shadow: black 0px -1px 0px;
    text-transform: uppercase;
}

.bus h2 span strong
{
    background-image: url("../img/display-background-right.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    display: block;
    font-weight: inherit;
    padding-left: 3px;
}

.bus h2 .route, .bus h2 .name, .bus h2 .departure
{
    background-image: url("../img/display-background-left.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    display: block;
    height: 38px;
    margin-right: 5px;
    overflow: hidden;
    padding-left: 8px;
    position: absolute;
    top: 8px;
}

.bus h2 .route
{
    left: 10px;
    width: 52px;
}

.bus h2 .name
{
    left: 82px;
    width: 410px;
}

.bus h2 .departure
{
    left: 530px;
    width: 140px;
}

.bus h2 span .strikethrough
{
    background: url("../img/display-strikethrough.png") repeat-x 0px 17px;
    display: block;
    height: 38px;
    left: 2px;
    position: absolute;
    top: 0px;
}

.bus h2 .route .strikethrough
{
    width: 56px;
}

.bus h2 .name .strikethrough
{
    width: 414px;
}

.bus h2 .departure .strikethrough
{
    width: 144px;
}

.bus h2 .red.glow
{
    color: #FF5858;
    text-shadow: black 0px -1px 0px, rgba(255, 88, 88, 0.796875) 0px 0px 5px;
}

.bus h2 .red
{
    color: #FF5858;
}

.bus h2 .green
{
    color: #C7FFAB;
}

.bus h2 .yellow
{
    color: #FFEFA1;
}

.footer
{
    font-size: 13px;
    font-family: helvetica;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.008);
    margin: 0px auto;
    text-align: center;
}

.footer a
{
    color: #222222;
}

.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url("../img/tipsy.gif") no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
