body
{
    background: url("http://images.apple.com/home/elements/gradient_texture20101116.jpg") repeat-x scroll 0 0 #EEEEEE;
    color: #222;
    font-family: 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    padding: 20px;
}

a
{
    color: #1890B8;
}

ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h1
{
    font-size: 24px;
    font-weight: bold;
    padding: 15px 15px 10px;
    text-shadow: black 0px -1px 0px;
    cursor: pointer;
}

.page
{
    margin: 0px auto;
    width: 692px;
}

.board
{
    -webkit-box-shadow: black 0px 2px 4px;
    background: url(http://culturedcode.com/status/airport-board-background-top.png) repeat-x 0% 0%, url(http://culturedcode.com/status/airport-board-background-bottom.png) repeat 0% 100%;
    border: 1px solid #353A3B;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -moz-box-shadow:0 2px 4px #000000;
    color: white;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
    margin: 10px 10px 50px;
    width: 692px;
}

.legend
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
    color: #666;
    font-size: 9px;
    font-weight: bold;
    height: 30px;
    padding: 0px 15px;
    position: relative;
    text-shadow: #222 0px -1px 0px;
    text-transform: uppercase;
}

.legend span
{
    display: block;
    position: absolute;
    top: 10px;
}

.legend .route
{
    left: 12px;
}

.legend .name
{
    left: 84px;
}

.legend .departure
{
    left: 532px;
}

.bus
{
    -webkit-background-size: 100px 100px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.046875)), to(rgba(255, 255, 255, 0))) repeat-x;
    border-bottom: 1px solid rgba(0, 0, 0, 0.246094);
    border-top: 1px solid rgba(255, 255, 255, 0.078125);
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 45px 0px 30px;
    position: relative;
}

.bus h2
{
    color: #EEE;
    font-size: 15px;
    font-weight: normal;
    line-height: 38px;
    margin: 8px 0px 16px;
    padding: 0px 10px;
    text-shadow: black 0px -1px 0px;
    text-transform: uppercase;
}

.bus h2 span strong
{
    background-image: url(http://culturedcode.com/status/airport-display-background-right.png);
    background-position: 100% 0%;
    background-repeat: no-repeat;
    display: block;
    font-weight: inherit;
    padding-left: 3px;
}

.bus h2 .route, .bus h2 .name, .bus h2 .departure
{
    background-image: url(http://culturedcode.com/status/airport-display-background-left.png);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    display: block;
    height: 38px;
    margin-right: 5px;
    overflow: hidden;
    padding-left: 8px;
    position: absolute;
    top: 8px;
}

.bus h2 .route
{
    left: 10px;
    width: 52px;
}

.bus h2 .name
{
    left: 82px;
    width: 410px;
}

.bus h2 .departure
{
    left: 530px;
    width: 140px;
}

.bus h2 span .strikethrough
{
    background: url(http://culturedcode.com/status/airport-display-strikethrough.png) repeat-x 0px 17px;
    display: block;
    height: 38px;
    left: 2px;
    position: absolute;
    top: 0px;
}

.bus h2 .route .strikethrough
{
    width: 56px;
}

.bus h2 .name .strikethrough
{
    width: 414px;
}

.bus h2 .departure .strikethrough
{
    width: 144px;
}

.bus h2 .red.glow
{
    color: #FF5858;
    text-shadow: black 0px -1px 0px, rgba(255, 88, 88, 0.796875) 0px 0px 5px;
}

.bus h2 .red
{
    color: #FF5858;
}

.bus h2 .green
{
    color: #C7FFAB;
}

.bus h2 .yellow
{
    color: #FFEFA1;
}

.footer
{
    font-size: 13px;
    font-family: helvetica;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.008);
    margin: 0px auto;
    text-align: center;
}

.footer a
{
    color: #222222;
}
