body
{
    background-color: #ffffff;
    color: #000000;
    font-family: Helvetica, Arial;
    font-size: 18px;
    margin: 0px auto;
    padding: 5px 8px 8px 8px;
    width: 300px;
}

a
{
    color: #1890B8;
}

p a
{
	color: #000000;
	text-decoration: none;
}

h1, h2, h3 , h4, h5, h6
{
    padding: 0;
    margin: 0;
}

.content
{

}

.stop
{    
    margin-bottom: 15px;
}

.stop .title
{
    font-weight: bold;
	background-color: #E8E8E8;
    border-bottom: 3px solid #ffffff;
	padding: 3px;
}

.green
{
    background-color: #8CAD68;
    border-bottom: 3px solid #ffffff;
    padding: 3px;
}

.green b
{
    font-weight: normal;
}

.yellow
{
    background-color: #D4B331;
    border-bottom: 3px solid #ffffff;
    padding: 3px;
}

.yellow b
{
    font-weight: normal;
}

.red
{
    background-color: #DB5A69;
    border-bottom: 3px solid #ffffff;
    padding: 3px;
}

.red b
{
    font-weight: normal;
}

@font-face
{
    font-family: "LED";
    src: url("../highway.ttf");
}
